.todo-list__item {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    cursor: pointer;
}

.todo-list__text {
    margin-left: 20px;
    padding-top: 3px;
    vertical-align: baseline;
}
.input-field {
    margin-left: 20px;
}
.todo-list__item--done .todo-list__text {
    font-style: italic;
}